	<div id="table" class="row">
		<div class="col-sm-6">
			<h5>Table:</h5>
			<div class="player" player-id="0">
				<strong class="name"></strong>: 
				<span class="bid"></span>
			</div>
			<div class="player" player-id="1">
				<strong class="name"></strong>: 
				<span class="bid"></span>
			</div>
			<div class="player" player-id="2">
				<strong class="name"></strong>: 
				<span class="bid"></span>
			</div>
			<div>
				Sum: <strong class="underline-twice" id="pot"></strong>
			</div>
			<hr/>
		</div>
		<div class="col-sm-6">
			<h5>Players:</h5>

			<div class="player" player-id="0">
				<span class="name"></span>: 
				<span class="chips"></span> 
				<span class="role text-danger"></span>
				<span class="turn text-primary"></span>
			</div>

			<div class="player" player-id="1">
				<span class="name"></span>: 
				<span class="chips"></span>
				<span class="role text-danger"></span>
				<span class="turn text-primary"></span>
			</div>

			<div class="player" player-id="2">
				<span class="name"></span>: 
				<span class="chips"></span>
				<span class="role text-danger"></span>
				<span class="turn text-primary"></span>
			</div>

			<div>
				<span id="connector" class="text-danger">Waiting for other players</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div id="table-cards"></div>
		</div>
		<div class="col-sm-6">
			<div id="hand-cards"></div>
		</div>
	</div>
