{% extends 'base.html.twig' %}
{% block title %}
    Kappa
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="players">
            <div class='player player-top'>
                <img class="profile" src="http://i2.kym-cdn.com/entries/icons/facebook/000/017/403/Kappa.jpg"/>
                <div class="username">username 1</div>
                <div class="chips"><i class="fa fa-usd"></i> 1000</div>
            </div>
            <div class='player player-top'>
                <img class="profile" src="http://alfahir.hu/sites/default/files/indexfoto/billclinton.jpg"/>
                <div class="username">username 2</div>
                <div class="chips"><i class="fa fa-usd"></i> 1000</div>
            </div>
            <div class='player player-top'>
                <img class="profile" src="http://files.shandymedia.com/styles/page/s3/images/photos/hollyscoop/anthony_hopkins_westworld.jpg"/>
                <div class="username">username 3</div>
                <div class="chips"><i class="fa fa-usd"></i> 1000</div>
            </div>
            <div class='player player-top'>
                <img class="profile" src="https://pbs.twimg.com/profile_images/378800000532546226/dbe5f0727b69487016ffd67a6689e75a.jpeg" />
                <div class="username">username 4</div>
                <div class="chips"><i class="fa fa-usd"></i> 1000</div>
            </div>
            <div class='player player-top'>
                <img class="profile" src="http://www.indiewire.com/wp-content/uploads/2014/08/black-jesus.jpg"/>
                <div class="username">username 5</div>
                <div class="chips"><i class="fa fa-usd"></i> 1000</div>
            </div>
        </div>
        <div class="ptable">
            <div class='chips right'>
                <i class="fa fa-usd text-warning"></i> 30
            </div>
            <div class='chips bottom'>
                <i class="fa fa-usd text-warning"></i> 30
            </div>
            <div class='chips left'>
                <i class="fa fa-usd text-warning"></i> 30
            </div>
            <div class='chips left side'>
                <i class="fa fa-usd text-warning"></i> 100
            </div>
            <div class='chips left'>
                <i class="fa fa-usd text-warning"></i> 30
            </div>
            <div class='chips'>
                <i class="fa fa-usd text-warning"></i> 30
            </div>
            <div class='chips right'>
                <i class="fa fa-usd text-warning"></i> 15
            </div>
            <div class='chips right side'>
                <i class="fa fa-usd text-warning"></i> 15
            </div>
        </div>
<!--        <div class="players bottom">
            <div class='player'>
                <img class="profile" />
                <div class="username">username</div>
                <div class="chips">1000</div>
            </div>
            <div class='player'>
                <img class="profile" />
                <div class="username">username</div>
                <div class="chips">1000</div>
            </div>
            <div class='player'>
                <img class="profile" />
                <div class="username">username</div>
                <div class="chips">1000</div>
            </div>
        </div>-->
    </div>
</div>
{% endblock %}