{% extends 'base.html.twig' %}
{% block title %}
    Kappa
{% endblock %}

{% block body %}
<div class="ptable">
    <div class='ptable-player'>
        <div class="profile">
        </div>
    </div>
    <div class='ptable-player'>
        <div class="profile">
        </div>
    </div>
    <div class='ptable-player'>
        <div class="profile">
        </div>
    </div>
    <div class='ptable-player'>
        <div class="profile">
        </div>
    </div>
    <div class='ptable-player'>
        <div class="profile">
        </div>
    </div>
    <div class='ptable-player'>
        <div class="profile">
        </div>
    </div>
    <div class='ptable-player'>
        <div class="profile">
        </div>
    </div>
    <div class='ptable-player'>
        <div class="profile">
        </div>
    </div>
</div>
{% endblock %}