
<!-- 2 -->
<script class="pcard-template" pcard-rank="2" type="text/pcard-template">
	<div class="pcard__inner pcard__inner--centered">
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
		</div>
	</div>
</script>

<!-- 3 -->
<script class="pcard-template" pcard-rank="3" type="text/pcard-template">
	<div class="pcard__inner pcard__inner--centered">
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
		</div>
	</div>
</script>

<!-- 4 -->
<script class="pcard-template" pcard-rank="4" type="text/pcard-template">
	<div class="pcard__inner">
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
		</div>
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
		</div>
	</div>
</script>

<!-- 5 -->
<script class="pcard-template" pcard-rank="5" type="text/pcard-template">
	<div class="pcard__inner">
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
		</div>
		<div class="pcard__column pcard__column--centered">
			<div class="pcard__symbol"></div>
		</div>
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
		</div>
	</div>
</script>

<!-- 6 -->
<script class="pcard-template" pcard-rank="6" type="text/pcard-template">
	<div class="pcard__inner">
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
		</div>
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
		</div>
	</div>
</script>

<!-- 7 -->
<script class="pcard-template" pcard-rank="7" type="text/pcard-template">
	<div class="pcard__inner">
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
		</div>
		<div class="pcard__column pcard__column--centered">
			<div class="pcard__symbol pcard__symbol--huge"></div>
		</div>
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
		</div>
	</div>
</script>

<!-- 8 -->
<script class="pcard-template" pcard-rank="8" type="text/pcard-template">
	<div class="pcard__inner">
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
		</div>
		<div class="pcard__column pcard__column--centered">
			<div class="pcard__symbol pcard__symbol--big"></div>
			<div class="pcard__symbol pcard__symbol--big"></div>
		</div>
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
		</div>
	</div>
</script>

<!-- 9 -->
<script class="pcard-template" pcard-rank="9" type="text/pcard-template">
	<div class="pcard__inner">
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol pcard__symbol--rotated"></div>
			<div class="pcard__symbol"></div>
		</div>
		<div class="pcard__column pcard__column--centered">
			<div class="pcard__symbol pcard__symbol"></div>
		</div>
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol pcard__symbol--rotated"></div>
			<div class="pcard__symbol"></div>
		</div>
	</div>
</script>

<!-- 10 -->
<script class="pcard-template" pcard-rank="10" type="text/pcard-template">
	<div class="pcard__inner">
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol pcard__symbol--rotated"></div>
			<div class="pcard__symbol"></div>
		</div>
		<div class="pcard__column pcard__column--centered">
			<div class="pcard__symbol pcard__symbol--big"></div>
			<div class="pcard__symbol pcard__symbol--big"></div>
		</div>
		<div class="pcard__column">
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol"></div>
			<div class="pcard__symbol pcard__symbol--rotated"></div>
			<div class="pcard__symbol"></div>
		</div>
	</div>
</script>

<!-- J -->
<script class="pcard-template" pcard-rank="J" type="text/pcard-template">
	<div class="pcard__inner">
	</div>
</script>

<!-- Q -->
<script class="pcard-template" pcard-rank="Q" type="text/pcard-template">
	<div class="pcard__inner">
	</div>
</script>

<!-- K -->
<script class="pcard-template" pcard-rank="K" type="text/pcard-template">
	<div class="pcard__inner">
	</div>
</script>

<!-- A -->
<script class="pcard-template" pcard-rank="A" type="text/pcard-template">
	<div class="pcard__inner">
		<div class="pcard__column">
		</div>
		<div class="pcard__column pcard__column--centered">
			<div class="pcard__symbol pcard__symbol--ace"></div>
		</div>
		<div class="pcard__column">
		</div>
	</div>
</script>