<div class="container">
	<div class="row">
		{{ include('game/table/dom.html') }}
		{# include('game/table/simple.html') #}
		{# include('game/table/canvas.html') #}
	</div>
	<div class="row">
		<div class="col-sm-8">
			{{ include('game/gui/bidding.html') }}
		</div>
		<div class="col-xs-1">
			<h5>Hand:</h5>
		</div>
		<div class="col-xs-3">
			<div id="hand-cards"></div>		
		</div>
	</div>
	{#<div class="row">
		<div class="col-sm-6">
			{{ include('game/gui/chat.html') }}
		</div>
	</div>#}
</div>
